html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #000000;
  margin-bottom: 60px;
  background-color: #bceaff;
}

body a {
    color: #ff27fb
}

.table {
    color: #000000;
}

.table a {
    color: #ff27fb;
}